<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">

<head>
<title>Editar configuración del sistema</title>

</head>

<body>


	<div class="content">
		<br> <br> <br> <br>
		<div>
			<div>
				<div>
					<h2
						class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"
						style="color: #2a3d2e !important;">Editar configuración del
						sistema</h2>


				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="media-container-column col-lg-8"
					data-form-type="formoid">

					<form th:action="@{/administrator/customisation/edit}" id="myForm"
						th:object="${customisation}" method="post"
						class="mbr-form form-with-styler" data-form-title=" Form">

						<div class="dragArea row">

							<div class="col-md-4  form-group" data-for="name">
								<label>Correo electrónico:</label> <input type="text"
									th:field="*{email}" th:errorclass="fieldError"></input>
								<p th:if="${#fields.hasErrors('email')}"
									style="color: red !important;">
									<span th:errors="*{email}"></span>
								</p>
							</div>

							<div class="col-md-4  form-group" data-for="name">
								<label>Nivel Oro:</label> <input type="number"
									th:field="*{goldLevel}" required="required"
									th:errorclass="fieldError"></input>
								<p th:if="${#fields.hasErrors('goldLevel')}"
									style="color: red !important;">
									<span th:errors="*{goldLevel}"></span>
								</p>
							</div>

							<div class="col-md-4  form-group" data-for="name">
								<label>Nivel Plata:</label> <input type="number"
									th:field="*{silverLevel}" required="required"
									th:errorclass="fieldError"></input>
								<p th:if="${#fields.hasErrors('silverLevel')}"
									style="color: red !important;">
									<span th:errors="*{silverLevel}"></span>
								</p>
							</div>

							<div data-for="message" class="col-md-12 form-group">
								<label>Tamaño máximo de las fotos (en MB):</label> <input
									type="number" th:field="*{maxSizePhoto}" required="required"
									th:errorclass="fieldError" placeholder="5 MB"></input>
								<p th:if="${#fields.hasErrors('maxSizePhoto')}"
									style="color: red !important;">
									<span th:errors="*{maxSizePhoto}"></span>
								</p>
							</div>

							<div data-for="message" class="col-md-12 form-group">
								<label>Marcas de tarjeta de crédito:</label> <input type="text"
									th:field="*{creditCardMakes}" th:errorclass="fieldError"
									placeholder="Las marcas debe de estar separadas por comas y sin espacios" />
								<p th:if="${#fields.hasErrors('creditCardMakes')}"
									style="color: red !important;">
									<span th:errors="*{creditCardMakes}"></span>
								</p>
							</div>

							<div class="col-md-12 form-group" data-for="name"
								th:if="${messageCode != ''}">
								<p th:text="${messageCode}"></p>
							</div>

							<div data-for="message" class="col-md-12 form-group">
								<div class="col-md-12 input-group-btn align-center">
									<button name="save" type="submit"
										class="btn btn-form btn-secondary display-4">Guardar
									</button>


									<a th:href="@{'/administrator/customisation/display'}"
										class="btn btn-warning-outline display-4"> Volver </a>
								</div>
							</div>
						</div>

					</form>


					<form th:action="@{/administrator/customisation/close}" id="myForm2"
						 method="post"
						class="mbr-form form-with-styler" data-form-title=" Form">

						<div class="dragArea row">


							<div class="col-md-12 form-group">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Identificador de la parcela a cerrar la disputa: </label> <input
									type="number" name="smallholdingId" required="required"
									class="form-control display-7"
									></input>

							</div>


							<div class="col-md-12 form-group" data-for="name"
								th:if="${closeError != ''}">
								<p th:text="${closeError}"></p>
							</div>

							<button id="confirm-mandate" name="closeDispute" type="submit"
								class="btn btn-form btn-secondary display-4">Cerrar disputa
								</button>

						</div>
					</form>


				</div>

			</div>
		</div>
	</div>


</body>
</html>