<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<div once="footers" style="   
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color:#54775e !important" id="piePagina" class="cid-rRNEevWeuA" th:fragment="frag-footer">

  <div class="container">
    

    
    <div class="row text-center" style="color: white !important">

      <div class="col-4 col-sm-4 " ><a href="/miscellaneous/condiciones-arrendamiento" style="color: white !important">Condiciones arrendamiento</a></div>
	  <div class="col-4 col-sm-4 " >&copy; <a href="/" style="color: white !important">EcoRenter</a> 2020 </div>
      <div class="col-4 col-sm-4 " ><a href="/miscellaneous/terminos-y-condiciones" style="color: white !important">Términos y Condiciones</a></div>
    </div>
 

   
  </div>
</div>


</html>