<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>condiciones</title>
	</head>
	
	<body>
		
     	<div class="content">
		<br>
        <br>
        <br>
        <br>
        <div class="container">
		       <div class="jumbotron" style="color: #54775E !important">
				<h1 style="text-align:center;">
				CONDICIONES DE ARRENDAMIENTO DE FINCA RÚSTICA
				</h1>
				
				<p style="font-weight:bold;text-align:center;">INTERVIENEN</p>
				<p >Cada uno en su propio nombre y derecho, y reconociéndose mutuamente capacidad suficiente para el otorgmiento de la presente <span style="font-weight:bold;"> CONDICIONES DE ARRENDAMIENTO DE FINCA RÚSTICA.</span></p>	
				<p style="font-weight:bold;text-align:center;">EXPONEN</p>
				<p><span style="font-weight:bold;">1. ARRENDADOR </span>
				 es propietario de pleno dominio de la finca.
				</p>
				<p><span style="font-weight:bold;">2. ARRENDATARIO </span>
				 está interesado en arrendar dicha finca, manifestando en este acto que conoce las características y estado en que se encuentra la finca descrita en ECORENTER así como su situación administrativa y actividades de cultivo que en dicha finca pueden ser desarrolladas lo cual no constituye ninguna
				 limitación tal y como así se contempla en la legislación vigente.
				</p>
				<p><span style="font-weight:bold;">3. </span>
				 Que ambas partes mediante ECORENTER, aceptan dichas condiciones, 
				 que se articula en las siguientes:
				</p>
				<p style="font-weight:bold;text-align:center;">CONDICIONES</p>		
				<p style="font-weight:bold;">PRIMERA.-REGULACION.-</p>	
				<p>
					En todo lo no previsto expresamente en las presentes condiciones, se estará a lo dispuesto en la Ley 49/2003,
					 de Arrendamientos Rústicos, con las modificaciones introducidas por la Ley 26/2005, supletoriamente por el Código Civil, y, en su defecto, los usos y costumbres del lugar, que sean aplicables.
				</p>
				<p style="font-weight:bold;">SEGUNDA.-OBJETO Y CONSENTIMIENTO.-</p>	
				<p>
					Por las presentes condiciones, <span style="font-weight:bold;">ARRENDADOR </span>CEDE EN ARRENDAMIENTO a <span style="font-weight:bold;">ARRENDATARIO </span>, quien ACEPTA, 
					la finca rústica descrita en la página web de ECORENTER en el expositivo primero de las presentes condiciones, para su aprovechamiento agrícola, en los términos y condiciones descritos.
					
				</p>
				
				<p style="font-weight:bold;">TERCERA.- DESENVOLVIMIENTO.-</p>	
				<p>
				A los efectos de estas condiciones. las partes acuerdan que el ARRENDATARIO sólo cultivará en la finca productos legales, sin perjuicio de que al término del arriendo, deberá devolver la finca en el estado en que la recibió.
				</p>
				<p>
				Ahora bien, en el supuesto de que la determinación del tipo o sistema de cultivo 
				implique transformación del destino o suponga mejoras extraordinarias, será 
				necesario el previo consentimiento del Arrendador y con ello el acuerdo expreso de ambas partes y que sean realizadas de acuerdo con la normativa
				comunitaria y de las disposiciones legales o reglamentarias pertinentes.
				Todos los gastos, impuestos, autorizaciones y licencias que pudieran resultar necesarias para la determinación y consecuencia del cultivo, serán de exclusiva cuenta del ARRENDATARIO.
				Las autorizaciones y, en su caso, licencias o permisos administrativos precisos para la realización de cultivo por parte del ARRENDATARIO, 
				y consiguiente ejercicio de dicha actividad en el mismo, deberán ser solicitadas, tramitadas y obtenidas por el ARRENDATARIO, bajo su responsabilidad. 
				En consecuencia, serán de su cuenta exclusiva todos los gastos, tasas, impuestos y demás derechos derivados de la tramitación y de la obtención de dichas autorizaciones y del ejercicio de la actividad. El ARRENDADOR no asume responsabilidad alguna si por los organismos competentes, estatales autonómicos o municipales,
				no se concediera al ARRENDATARIO las licencias o autorizaciones pertinentes o se prohibiera la actividad una vez autorizada. Los impuestos, arbitrios,
				contribuciones y demás que se impongan correspondientes a la actividad de cultivo desarrollada en la finca arrendada o por razón del mismo, son de exclusiva cuenta y cargo del ARRENDATARIO.
				El ARRENDATARIO podrá contratar a su cargo y con completa indemnidad para el ARRENDADOR a las personas y medios que considere necesarios para ayudarle en la explotación durante todo el tiempo de duración del condiciones. 
				En todo caso, dicho personal contratado por el ARRENDATARIO, no tendrá en ningún caso relación laboral ni dependiente alguna con el ARRENDADOR.				
				
				
				</p>
				
			 	<p style="font-weight:bold;">CUARTA.- DURACIÓN Y PRÓRROGAS.-</p>
				<p>
				En las presentes condiciones de arrendamiento la duración máxima estará recogida en la oferta de arriendo descritas por el ARRENDADOR. 
					Una vez cumplido el tiempo, el ARRENDATARIO pondrá a disposición del ARRENDADOR la posesión de las fincas arrendadas.					
				</p>

				<p style="font-weight:bold;">QUINTA.- RENTA.-</p>
				<p>
				
				Ambas partes convienen que el ARRENDATARIO abonará al ARRENDADOR una cantidad en concepto de renta mensual,descritas en la oferta de arriendo en la página web de ECORENTER.
				El abono de la renta se deberá efectuar por el ARRENDATARIO mediante pago domiciliado automático en ECORENTER al ARRENDADOR.
				
				</p>
				<p style="font-weight:bold;">SEXTA.- CANTIDADES ASIMILADAS A LA RENTA.-</p>
				<p>
				
				Todas las cantidades que hubiese de pagar el ARRENDADOR y que conforme a la normativa vigente sean repercutibles al ARRENDATARIO podrán ser exigidas por aquél desde el momento en que las haya satisfecho, 
				expresando el concepto, importe y disposición que autorice la repercusión.
				El impago de tales cantidades equivaldrá al impago de la renta, prescribiendo el derecho del ARRENDADOR a exigirlas al año de haberse efectuado su pago.

				
				</p>
				
				<p style="font-weight:bold;">SEPTIMA.- GARANTIA.-</p>
				<p>
				
				En las presentes condiciones, el ARRENDATARIO no hace 
				entrega al ARRENDADOR de ninguna cantidad en concepto de fianza legal,acción que se realiza por mutua acuerdo de la partes y bajo la responsabilidad de ambas partes.
				
				</p>
				<p style="font-weight:bold;">OCTAVA.-SEGURO.-</p>
				<p>
				El ARRENDATARIO se obliga a asegurar la producción normal de la finca o explotación contra los riesgos normalmente asegurables con una compañía de seguros primer orden y reconocida solvencia, corriendo con todos los gastos derivados del pago de las correspondientes primas.
				El ARRENDATARIO deberá mantener en vigor dicho seguro durante la total vigencia de las condiciones abonando regularmente las primas.
				La no suscripción de dichas condiciones de seguro o la falta de pago de una sola de la prima, 
				será causa de resolución de las condiciones Es por ello que el ARRENDADOR podrá en cualquier momento durante la vigencia de estas condiciones, requerir al ARRENDATARIO que acredite el cumplimiento de esta obligación.
				</p>
				<p style="font-weight:bold;">NOVENA.- GASTOS Y MEJORAS.-</p>
				<p>
				Ambas partes se obligan a permitir la realización de obras, reparaciones y mejoras que deba o pueda realizar la otra parte contratante
				Con el fin de que dichas obras o mejoras que en su caso deban realizarse perturben lo menos posible, tales reparaciones se efectuarán en la época del año y en la forma que menos perturben, salvo que no puedan diferirse
				. Todas las obras y reparaciones necesarias para conservar la finca en estado de servir para el aprovechamiento al que ha sido destinada, serán por cuenta del
				ARRENDADOR.
				</p>
				<p>
				El ARRENDATARIO deberá requerir al ARRENDADOR por escrito, de la necesidad de realizar las obras o reparaciones, y si éste no atiende a dicho requerimiento, el ARRENDATARIO podrá optar,
				bien por compelerle judicialmente o resolver las condiciones, u obtener una reducción proporcional de la
				renta, o realizadas él mismo,reintegrándose mediante compensación con las rentas pendientes a medida que vayan venciendo.
				
				</p>
				<p>
				De igual forma, el ARRENDATARIO podrá reclamar todos aquellos daños y perjuicios que le hayan sido causados.
				</p>

				<p style="font-weight:bold;">DECIMA.- VENTA DE LA FINCA, Y DERECHOS DE TANTEO, RETRACTO Y ADQUISICIÓN PREFERENTE.-</p>
								
				<p>El ARRENDADOR tiene el derecho de ejercitar su derecho de venta de la finca objeto del arrendamiento si bien, y en tal caso, el adquirente de la finca, aunque cuando estuviese amparado por el artículo 34 de la Ley Hipotecaria, quedará subrogado en todos los derechos y obligaciones del arrendador y por ello consecuencia del este condiciones de arrendamiento, y deberá respetar el plazo que reste de la duración minima del condiciones prevista en el artículo 12 de la Ley de Arrendamientos Rústicos o de la prórroga tácita que esté en curso si se trata del tercero hipotecario, mientras que en los demás casos deberá respetar la duración total pactada.
					El arrendatario agricultor tendrá derecho de tanteo y retracto en toda — transmisión intervivos de las fincas arrendadas, incluida la donación, aportación a sociedad, permuta, adjudicación en pago o cualquiera otra distinta de la compraventa, de su nuda propiedad, de porción determinada o de un participación indivisa de aquéllas.
					Para hacer efectivo dichos derechos, se estará a lo dispuesto en el artículo 2 de la Ley de Arrendamientos Rústicos, según nueva redacción dada por la Ley
					26/2005.
				</p>
				<p style="font-weight:bold;">UNDÉCIMA.- CESIÓN Y SUBARRIENDO.-</p>
				<p>
				El ARRENDATARIO no podrá ceder ni subarrendar la finca objeto de las presentes condiciones sin el consentimiento expreso y por escrito del ARRENDADOR.
				No obstante, dicho consentimiento no será necesario cuando la cesión o subarriendo se efectúe a favor del cónyuge o de uno de los descendientes del arrendatario, si bien, y a estos efectos, el subrogante y el subrogado deberán comunicar fehacientemente al arrendador la cesión o el subarriendo, en el plazo de 60 dias hábiles a partir de su celebración.
				La cesión y el subarriendo deberán referirse a la totalidad de la finca arrendada o explotación, y se otorgará por todo el tiempo que reste del plazo del arrendamiento, no pudiendo superar la renta a la pactada entre arrendador y arrendatario
				. El incumplimiento de esta obligación de notificación de la cesión en el plazo previsto, será causa de resolución automática de las condiciones.
				
				</p>

				<p style="font-weight:bold;">DUODÉCIMA.- TERMINACIÓN, RESOLUCIÓN Y RESCISIÓN DEL ARRENDAMIENTO.-</p>
				<p>
				</br>
				
				El presente condiciones de arrendamiento terminará por las causas establecidas
				en el articulo 24 de la Ley de Arrendamientos Rústicos y por las fijadas en el
				mismo.
				El ARRENDADOR podrá instar la resolución del condiciones:
				a)	Por falta de pago de las rentas y cantidades asimiladas, sin perjuicio del derecho de enervación de la acción de desahucio en los mismos términos previstos en las leyes procesales para los desahucios de fincas urbanas.
				</br>
				b)	Por incumplir gravemente la obligación de mejora o transformación de la finca a las que el ARRENDATARIO se haya comprometido en el presente condiciones. y aquellas otras que vengan impuestas por norma legal o resolución judicial o administrativa
				</br>
				c)	Por no explotar la finca, aun parcialmente. o destinarla, en todo o en parte. a fines o aprovechamiento distintos a los previstos contractualmente, salvo en los casos impuestos por programas y planes, cuyo cumplimiento sea necesario para la percepción de ayudas o compensaciones en aplicación de la normativa estatal. autonómica o comunitaria aplicable.
				</br>
				d)	Por ceder o subarrendar la finca incumpliendo lo previsto en el presente condiciones y en la Ley de Arrendamientos Rústicos.
				</br>
				e)	La aparición sobrevenida de alguna de las circunstancias previstas en el artículo 7.1 de la Ley de Arrendamientos Rústicos.
				</br>
				f)	Por causar graves daños a la finca, con dolo, o negligencia manifiesta. 
				</br>
				El ARRENDATARIO podrá instar la resolución del condiciones:
				</br>
				a) Por pérdida total de la cosa arrendada y por expropiación forzosa cuando sea también total; si la pérdida o expropiación fuese sólo parcial. el ARRENDATARIO podrá optar por continuar en el arriendo. teniendo derecho a una reducción proporcional de la renta. En este supuesto. además, el ARRENDATARIO tiene derecho a la indemnización que resulte aplicable en aplicación de la normativa
				</br>
				b)	Por expiración del término convencional o legal y de la prórroga, en su caso.
				</br>
				c)	Por mutuo acuerdo de las partes.
				</br>
				d)	Por muerte del ARRENDATARIO, quedando a salvo el derecho de sus sucesores legítimos.
				</br>
				e)	En los arrendamientos efectuados a favor de personas jurídicas o de comunidades de bienes, desde el momento mismo en que se extinga la persona jurídica o la comunidad.
				</br>
				f)	Por resolución del derecho del ARRENDADOR.
				</br>
				g)	Mediante resolución o rescisión de las condiciones en los supuestos legalmente contemplados.
				Tanto el ARRENDADOR como el ARRENDATARIO podrán rescindir el acuerdo
				por el incumplimiento de la otra parte de la obligación de satisfacer gastos de 
				conservación y mejoras, en los términos contemplados en estas condiciones y/o en la Ley de Arrendamientos Rústicos.
				
							
				</p>
				
				
				
				
				
				
					
				</div>


						
				</div>
				
				
			
				</div>
			</div>   

		
	</body>
</html>
	