<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Contrato</title>
	</head>
	
	<body>
		
     	<div class="content">
		<br>
        <br>
        <br>
        <br>
        <div class="container">
		       <div class="jumbotron" style="color: #54775E !important">
				<h1 style="text-align:center;">
				CONTRATO DE ARRENDAMIENTO DE FINCA RÚSTICA
				</h1>
				
				<p style="font-weight:bold;text-align:center;">INTERVIENEN</p>
				<p >Cada uno en su propio nombre y derecho, y reconociéndose mutuamente capacidad suficiente para el otorgmiento del presente <span style="font-weight:bold;"> CONTRATO DE ARRENDAMIENTO DE FINCA RÚSTICA.</span></p>	
				<p style="font-weight:bold;text-align:center;">EXPONEN</p>
				<p><span style="font-weight:bold;">1. ARRENDADOR </span>
				 es propietario de pleno dominio de la finca.
				</p>
				<p><span style="font-weight:bold;">2. ARRENDATARIO </span>
				 está interesado en arrendar dicha finca, manifestando en este atco que conoce las caractrísticas y estado en que se encuentra la finca descrita así como su situación administrativa y actividades de cultivo que en dicha finca pueden ser desarrolladas lo cual no constituye ninguna
				 limitación tal y como así se contempla en la legislación vigente.
				</p>
				<p><span style="font-weight:bold;">3. </span>
				 Que ambas partes, tras haber llegado a un acuerdo al respecto, formalizan el presente 
				 <span style="font-weight:bold;">CONTRATO DE ARRENDAMIENTO DE FINCA RÚSTICA</span>
				 , contrato que se articula en las siguientes,
				</p>
				<p style="font-weight:bold;text-align:center;">CLÁUSULAS</p>		
				<p style="font-weight:bold;">PRIMERA.-REGULACION.-</p>	
				<p>
					En todo lo no previsto expresamente en el presente contrato. se estará a lo dispuesto en la Ley 49/2003,
					 de Arrendamientos Rústicos, con las modificaciones introducidas por la Ley 2612005, supletoriamente por el Código Civil. y. en su defecto, los usos y costumbres del lugar. que sean aplicables.
				</p>
				<p style="font-weight:bold;">SEGUNDA.-OBJETO Y CONSENTIMIENTO.-</p>	
				<p>
					Por el presente contrato, <span style="font-weight:bold;">ARRENDADOR </span>CEDE EN ARRENDAMIENTO a <span style="font-weight:bold;">ARRENDATARIO </span>, quien ACEPTA, 
					la finca rústica descrita en la página web de ECORENTER primero del presente contrato, para su aprovechamiento agrícola. en los términos y condiciones pactados.
					
				</p>
				
				<p style="font-weight:bold;">TERCERA.- DESENVOLVIMIENTO DEL CONTRATO.-</p>	
				<p>
				A los efectos de este contrato. las partes acuerdan que el ARRENDATARIO sólo cultivará en la finca productos legales, sin perjuicio de que al término del arriendo, deberá devolver la finca en el estado en que la recibió.
				</p>
				<p>
				Ahora bien, en el supuesto de que la determinación del tipo o sistema de cultivo 
				implique transformación del destino o suponga mejoras extraordinarias. será 
				necesario el previo consentimiento del Arrendador y con ello el acuerdo expreso de ambas partes y que sean realizadas de acuerdo con la normativa
				comunitaria y de las disposiciones legales o reglamentarias pertinentes.
				Todos los gastos, impuestos, autorizaciones y licencias que pudieran resultar necesarias para la determinación y consecuencia del cultivo, serán de exclusiva cuenta del ARRENDATARIO.
				Los gastos de agua y luz corren por cuenta del ARRENDADOR mientras el ARRENDATARIO no obtenga rentas por las ventas de los cultivos. En el momento que comiencen los beneficios por lo cultivos, la luz y agua correrán por cuenta del ARRENDATARIO.
				Las autorizaciones y, en su caso, licencias o permisos administrativos precisos para la realización de cultivo por parte del ARRENDATARIO, 
				y consiguiente ejercicio de dicha actividad en el mismo, deberán ser solicitadas, tramitadas y obtenidas por el ARRENDATARIO, bajo su responsabilidad. 
				En consecuencia, serán de su cuenta exclusiva todos los gastos, tasas, impuestos y demás derechos derivados de la tramitación y de la obtención de dichas autorizaciones y del ejercicio de la actividad. El ARRENDADOR no asume responsabilidad alguna si por los organismos competentes, estatales autonómicos o municipales,
				no se concediera al ARRENDATARIO las licencias o autorizaciones pertinentes o se prohibiera la actividad una vez autorizada. Los impuestos, arbitrios,
				contribuciones y demás que se impongan correspondientes a la actividad de cultivo desarrollada en la finca arrendada o por razón del mismo, son de exclusiva cuenta y cargo del ARRENDATARIO.
				El ARRENDATARIO podrá contratar a su cargo y con completa indemnidad para el ARRENDADOR a las personas y medios que considere necesarios para ayudarle en la explotación durante todo el tiempo de duración del contrato. 
				En todo caso, dicho personal contratado por el ARRENDATARIO, no tendrá en ningún caso relación laboral ni dependiente alguna con el ARRENDADOR.				
				
				
				</p>
				
			 	<p style="font-weight:bold;">CUARTA.- DURACIÓN Y PRÓRROGAS.-</p>
				<p>
				El presente contrato de arrendamiento tendrá una duración de cuatro años, 
				salvo que las partes acuerden otra cosa expresamente y por escrito durante el año anterior a la expiración de la vigencia contractual, de conformidad con el artículo 12 de la Ley 49/2003, 
				de 26 de noviembre, de Arrendamientos Rústicos.	Una vez cumplido el tiempo, el ARRENDATARIO pondrá a disposición del ARRENDADOR la posesión de las fincas arrendadas.					
				</p>
				<p>
				Ahora bien, en el supuesto de que una vez cumplido el plazo previsto de duración del presente contrato, ninguna de las partes hubiera dado por finalizado formalmente el mismo en los términos aqui previstos,
				 y sin que el arrendador haya requerido expresa y fehacientemente al arrendatario. dentro de los 30 dias siguientes a la finalización del contrato,
				para la recuperación material de la posesión y pleno dominio de la finca. el contrato se entenderá prorrogado tácitamente por un periodo adicional de cuatro anos, 
				sucediéndose dichas prórrogas de manera indefinida en tanto no se produzca la denuncia del contrato de la forma antedicha.
				</p>
				<p style="font-weight:bold;">QUINTA.- RENTA.-</p>
				<p>
				
				Ambas partes convienen que el ARRENDATARIO abonará al ARRENDADOR una cantidad en concepto de renta anual, en concreto un 30% de las ventas de la cosecha del año
				El abono de la renta se deberá efectuar por el ARRENDATARIO mediante pago en efectivo en el domicilio del ARRENDADOR.
				El ARRENDADOR entregará al ARRENDATARIO recibo del pago efectuado, una vez haya comprobado que se ha realizado correctamente el pago de la renta anual a su favor.
				
				</p>
				<p style="font-weight:bold;">SEXTA.- CANTIDADES ASIMILADAS A LA RENTA.-</p>
				<p>
				
				Todas las cantidades que hubiese de pagar el ARRENDADOR y que conforme a la normativa vigente sean repercutibles al ARRENDATARIO podrán ser exigidas por aquél desde el momento en que las haya satisfecho, 
				expresando el concepto, importe y disposición que autorice la repercusión.
				El impago de tales cantidades equivaldrá al impago de la renta, prescribiendo el derecho del ARRENDADOR a exigirlas al año de haberse efectuado su pago.

				
				</p>
				
				<p style="font-weight:bold;">SEPTIMA.- GARANTIA.-</p>
				<p>
				
				En el momento de la firma del presente contrato, el ARRENDATARIO no hace 
				entrega al ARRENDADOR de ninguna cantidad en concepto de fianza legal,acción que se realiza por mutua acuerdo de la partes y bajo la responsabilidad de ambas partes.
				
				</p>
				<p style="font-weight:bold;">OCTAVA.- CONTRATO DE SEGURO.-</p>
				<p>
				El ARRENDATARIO se obliga a asegurar la producción normal de la finca o explotación contra los riesgos normalmente asegurables con una compañía de seguros primer orden y reconocida solvencia. corriendo con todos los gastos derivados del pago de las correspondientes primas.
				El ARRENDATARIO deberá mantener en vigor dicho seguro durante la total vigencia del presente contrato abonando regularmente las primas.
				La no suscripción del dicho contrato de seguro o la falta de pago de una sola de la prima, 
				será causa de resolución del contrato Es por ello que el ARRENDADOR podrá en cualquier momento durante la vigencia de este contrato, requerir al ARRENDATARIO que acredite el cumplimiento de esta obligación
				</p>
				<p style="font-weight:bold;">NOVENA.- GASTOS Y MEJORAS.-</p>
				<p>
				Ambas partes se obligan a permitir la realización de obras. reparaciones y mejoras que deba o pueda realizar la otra parte contratante
				Con el fin de que dichas obras o mejoras que en su caso deban realizarse perturben lo menos posible. tales reparaciones se efectuarán en la época del año y en la forma que menos perturben. salvo que no puedan diferirse
				A. Obras y reparaciones por cuenta del Arrendador. Todas las obras y reparaciones necesarias para conservar la finca en estado de servir para el '-aprovechamiento al que ha sido destinada, serán por cuenta del
				ARRENDADOR.
				</p>
				<p>
				El ARRENDATARIO deberá requerir al ARRENDADOR por escrito, de la necesidad de realizar las obras o reparaciones, y si éste no atiende a dicho requerimiento, el ARRENDATARIO podrá optar,
				bien por compelerle judicialmente o resolver el contrato. u obtener una reducción proporcional de la
				renta. o realizadas él mismo,reintegrándose mediante compensación con las rentas pendientes a medida que vayan venciendo.
				
				</p>
				<p>
				De igual forma, el ARRENDATARIO podrá reclamar todos aquellos daños y perjuicios que le hayan sido causados.
				</p>
				<p>
				En el supuesto de que por causa de fuerza mayor la finca arrendada sufra daños no indemnizables, cuya reparación tenga un coste superior a una anualidad de renta, no estará obligado el ARRENDADOR a dicha reparación, debiendo comunicárselo al ARRENDATARIO en este sentido, el cual podrá optar entre rescindir el contrato, debiendo comunicárselo por escrito al ARRENDADOR, o continuar con el arriendo con la disminución proporcional de la renta a que hubiese lugar.
				</p>
				<p>
				Incumben también al ARRENDADOR la realización de las obras, mejoras o inversiones que deban realizarse sobre la finca arrendada, por disposición legal o por resolución judicial o administrativa firmes o por acuerdo firme de la comunidad de regantes sobre la modernización de regadíos para el cambio de sistema de riego. Ahora bien, cuando éstas sean de tal entidad y naturaleza que. excediendo de la natural conservación de la finca, supongan una transformación que redunde en el incremento de la producción, el ARRENDADOR tendrá derecho a la revalorización proporcional de la renta y, en su caso, a la rescisión del contrato, si el ARRENDATARIO no estuviese conforme con dicha revalorización.
				
				</p>
				<p>
				B. Obras y reparaciones por cuenta del Arrendatario. Serán por cuenta del ARRENDATARIO las reparaciones. mejoras e inversiones que sean propias del empresario agrario en el desempeño normal de su actividad, y las que le vengan impuestas por disposición legal o por resolución judicial o administrativa firme, o por acuerdo firme de la comunidad de regantes relativo a la mejora del regadío que sea también propia del empresario agrario en el desempeño normal de su actividad, sin que por ello tenga derecho a disminución de la renta, ni a la prórroga del arriendo.
				
				</p>
				<p>
				
				Ambas partes acuerdan que el ARRENDATARIO no podrá hacer desaparecer 
				las paredes, vallas, setos vivos o muertos, zanjas u otras formas de
				cerramiento o cercado del predio arrendado, salvo en los tramos necesarios 
				para permitir el paso adecuado de los tractores, maquinaria agrícola y cuando las labores de cultivo lo requieran, sin perjuicio de lo que establezca la legislación sobre protección del medio ambiente y protección del patrimonio histórico, obligándose expresamente el ARRENDATARIO a devolver las cosas del arriendo tal y como las recibió, de conformidad con lo que establece el articulo 1561 del Código Civil.
								
				</p>
				<p>
				
				</p>
				<p>
				Una vez terminado el arriendo, el ARRENDATARIO tendrá derecho a pedir una indemnización al ARRENDADOR por el aumento del valor de la finca arrendada por las mejoras realizadas, siempre que éstas se hayan realizado con el consentimiento expreso del ARRENDADOR.
				</p>
				<p style="font-weight:bold;">DECIMA.- VENTA DE LA FINCA, Y DERECHOS DE TANTEO, RETRACTO Y ADQUISICIÓN PREFERENTE.-</p>
				<p>
				El ARRENDADOR tiene el derecho de ejercitar su derecho de venta de la finca objeto del arrendamiento si bien, y en tal caso, el adquirente de la finca, aunque cuando estuviese amparado por el artículo 34 de la Ley Hipotecaria, quedará subrogado en todos los derechos y obligaciones del arrendador y por ello consecuencia del este contrato de arrendamiento, y deberá respetar el plazo que reste de la duración minima del contrato prevista en el artículo 12 de la Ley de Arrendamientos Rústicos o de la prórroga tácita que esté en curso si se trata del tercero hipotecario, mientras que en los demás casos deberá respetar la duración total pactada.
				</p>
				<p>
				El arrendatario agricultor tendrá derecho de tanteo y retracto en toda — transmisión intervivos de las fincas arrendadas. incluida la donación, aportación a sociedad, permuta. adjudicación en pago o cualquiera otra distinta de la compraventa, de su nuda propiedad, de porción determinada o de un participación indivisa de aquéllas.
				
				</p>
				<p>
				Para hacer efectivo dichos derechos, se estará a lo dispuesto en el artículo 2 de la Ley de Arrendamientos Rústicos, según nueva redacción dada por la Ley 26/2005.
				
				</p>
				<p style="font-weight:bold;">DECIMA.- VENTA DE LA FINCA, Y DERECHOS DE TANTEO, RETRACTO Y ADQUISICIÓN PREFERENTE.-</p>
								
				
					
				</div>


						
				</div>
				
				
			
				</div>
			</div>   

		
	</body>
</html>
	