<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
<head>
<title>Página de bienvenida</title>
</head>
<body>
	<div class="content">

		
		<section class="counters4 counters cid-rUBW1fGKz5" id="counters4-1a">

		<div class="container pt-4 mt-2">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">BIENVENIDOS A ECO RENTER</h2>
        <h3 class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5">Nuestro principal objetivo es que comas saludable. A partir de ahora podrás tener tu propio huerto ecofriendly.</h3>
        <div class="media-container-row">
            <div class="media-block m-auto" style="width: 49%;">
                <div class="mbr-figure">
                    <img src="/resources/images/lechuga-que-crece-suelo-huerto-45756-506-449x337.jpg" alt="" title="">
                </div>
            </div>
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex align-items-start">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    1
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Sobre Eco Renter</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Nuestro principal objetivo es ofrecer facilidades para alquilar huertos de terceros al instante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex align-items-start">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    2
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">¡Recibe cupones descuento!</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Disfrutar de cupones descuento en numerosas tiendas online relacionadas con la agricultura desrá una de las ventajas de alquilar parcelas en Eco Renter.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex align-items-start">
                            <div class="card-img pr-3">
                                <h3 class="img-text d-flex align-items-center justify-content-center">
                                    3
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">EcoTrukis</h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">Podrás ver en tu perfil cada semana nuevos "EcoTrukis" para así poderte convertir en todo un experto.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

	</div>
</body>
</html>
