<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">

<head>
<title>Valoración</title>
</head>

<body>


	<div class="content">
	<script type="text/javascript" th:src="@{/resources/rating/js/rating.js}"></script>
		<br> <br> <br> <br>
		<div>
			<div>
				<div>
					<h2	class="mbr-section-title align-center pb-3 mbr-fonts-style display-2" style="color: #2a3d2e !important;" >Valoración
					</h2>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="media-container-column col-lg-8"
					data-form-type="formoid">

					<form th:action="@{/renter/valuation/edit}" id="myForm"
						th:object="${valuation}" method="post"
						class="mbr-form form-with-styler" data-form-title=" Form">
						<input
							type="hidden" th:field="*{id}" th:value="${valuation.id}" /> <input
							type="hidden" th:field="*{version}"
							th:value="${valuation.version}" />
						<input
						type="hidden" id="rentOutId" name="rentOutId" th:value="${rentOutId}" />
						<div class="dragArea row">

							<div class="col-md-12  form-group" data-for="name">
								 <input type="hidden"
									th:field="*{mark}" required="required" th:errorclass="fieldError" id="valoracion"></input>
								
 									<div class="text-center"style="font-size: 2em;">
                    
					                 <div id="halfstarsReview"></div>
					                </div>
								<p th:if="${#fields.hasErrors('mark')}"
									style="color: red !important;">
									<span th:errors="*{mark}"></span>
								</p>
							</div>


							<div class="col-md-12 form-group" data-for="name"
								th:if="${messageCode != ''}">
								<p th:text="${messageCode}" style="color: red !important;"></p>
							</div>

							<div data-for="message" class="col-md-12 form-group">
								<div class="col-md-12 input-group-btn align-center">
									<button name="save" type="submit"
										class="btn btn-form btn-secondary display-4">Guardar
									</button>

									<a th:href="@{~/rentOut/list}"
									class="btn btn-warning-outline display-4"> Volver </a>
								</div>
							</div>
						</div>

					</form>

				</div>
			<script>
			
		    $("#halfstarsReview").rating({
		        
		        "click": function (e) {
		            console.log(e);
		            $("#valoracion").val(e.stars);
		            
		        }
		    });
			
			</script>
			</div>
		</div>
	</div>

	</div>
</body>
</html>