<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Eliminar un usuario</title>
	</head>
	
	<body>
		<div class="content">
			
		<section class="engine"><a href="https://mobirise.info/l">free web templates</a></section><section class="section-table cid-rV29YLS4n5" id="table1-3o">

  
  
  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
          Eliminar usuario</h2>
      
      <div class="table-wrapper">
        <div class="container">
          <div class="row search">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="dataTables_filter">
                  <label class="searchInfo mbr-fonts-style display-7">Filtra por nombre:</label>
                  <input class="form-control input-sm" disabled="">
                </div>
            </div>
          </div>
        </div>

<div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
        <div class="container scroll">
          <table id="example" class="table isSearch" cellspacing="0">
            <thead>
              <tr class="table-heads ">
                  
                  
                  
                  
              <th class="head-item mbr-fonts-style display-7">
                      Nombre</th><th class="head-item mbr-fonts-style display-7">
                      Eliminar</th></tr>
            </thead>

            <tbody>

            <tr th:each="a: ${actorPage}"> 
                
              <td class="body-item mbr-fonts-style display-7" th:text="${a.userAccount.username}"></td><td class="body-item mbr-fonts-style display-7" ><a th:href="@{~/actor/administrator/delete?actorId=} + ${a.id}" class="btn-outline display-7">Eliminar este usuario</a></td></tr></tbody>
          </table>
        </div>
        <div class="container table-info-container">
          <div class="row info">
            <div class="col-md-6">
              <div class="dataTables_info mbr-fonts-style display-7">
                <span class="infoBefore">Mostrando</span>
                <span class="inactive infoRows"></span>
                <span class="infoAfter">usuarios</span>
                <span class="infoFilteredBefore">(filtrados de</span>
                <span class="inactive infoRows"></span>
                <span class="infoFilteredAfter"> usuarios totales)</span>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div> </div>
    </div>

</section>

		</div>
	</body>

</html>
	