<!DOCTYPE html>
<html
	th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
<head>
<title>Mi perfil</title>
</head>
<body>

	<div class="container content">
		<br> <br> <br> <br>
		<style>
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.avatar {
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-style: solid;
	border-color: #54775E !important;
}

i {
	color: #54775E;
}

h1 {
	font-weight: bold;
	text-align: center;
	color: #54775E;
}

body {
	color: #54775E;
}

.img-fluid {
	height: 100px !important;
}
</style>
		<div class="row">
			<div class="col-md-12">
				<div th:if="${photo != null}">
					<img
						th:src="@{'data:' + ${photo.suffix} + ';base64, ' + ${imageData}}"
						th:alt="${photo.name}" class="center avatar" />
				</div>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-6 text-center">

				<h1>
					Datos personales (<span th:text="${role}"></span>)
				</h1>

				<div class="mbr-section-text">
					<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
						<i class="fa fa-user-circle" aria-hidden="true"></i> <span
							th:text="${actor.fullname}"></span>
					</p>
					<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
						<i class="fa fa-envelope" aria-hidden="true"></i> <span
							th:text="${actor.email}"></span>
					</p>
					<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">

						<i class="fa fa-mobile" aria-hidden="true"></i> <span
							th:text="${actor.telephoneNumber}"></span>
					</p>


					<div th:if="${isMyProfile && iban != null && iban != ''}"
						class="info iban">
						<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
							<i class="fa fa-university" aria-hidden="true"></i> <span
								th:text="${iban}"></span>
						</p>
					</div>
				</div>

				<div th:if="${isMyProfile}" class="aside-content">

					<div class="mbr-section-text">
						<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
							<i class="fa fa-user-secret" aria-hidden="true"></i> <span
								th:text="${actor.userAccount.username}"></span>
						</p>

					</div>
				</div>


			</div>
			<div class="col-md-6 text-center">
				<div class=" aside-content" sec:authorize="hasAuthority('RENTER')"
					th:if="${isMyProfile && smallholdings.size() > 0}">
					<h1>Códigos de descuentos</h1>

					<p
						th:if="${isMyProfile && discountCodes != null && discountCodes != ''}">
					<div th:each="desc : ${#strings.arraySplit(discountCodes, ',')}">

						<i class="fa fa-money-bill" aria-hidden="true"> </i> <span
							th:text="${desc}"></span>

					</div>
					</p>
				</div>
				<div class=" aside-content" sec:authorize="hasAuthority('OWNER')">
					<p>
						<strong>Nivel alcanzado:</strong>
					</p>
					<p th:if="${level == 'Plata'}">
						<img th:src="@{/resources/images-levels/plata.jpg}"
							class="img-fluid" alt="Nivel plata" title="Nivel plata">
					</p>
					<p th:if="${level == 'Oro'}">
						<img th:src="@{/resources/images-levels/oro.jpg}"
							class="img-fluid" alt="Nivel Oro" title="Nivel Oro">
					</p>
					<p th:if="${level == 'Bronce'}">
						<img th:src="@{/resources/images-levels/bronce.jpg}"
							class="img-fluid" alt="Nivel Bronce" title="Nivel Bronce">
					</p>

				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6 text-center">
				<!--Btn-->
				<div th:if="${isMyProfile}" class="text-center mbr-section-btn pt-3">
					<a th:href="@{/actor/authenticated/edit}"
						class="btn btn-secondary-outline display-4">Editar perfil</a>
				</div>

				<div sec:authorize="hasAuthority('ADMIN')"
					th:if="${!isMyProfile && !actor.userAccount.isBanned}"
					class="text-center mbr-section-btn pt-3 ">
					<a th:href="@{/actor/administrator/ban(actorId=${actor.id})}"
						class=" btn btn-secondary-outline display-4"> Banear actor </a>
				</div>
			</div>
			<div class="col-md-6 text-center">
				<div sec:authorize="hasAuthority('ADMIN')"
					th:if="${!isMyProfile && actor.userAccount.isBanned}"
					class="text-center mbr-section-btn pt-3 ">
					<a th:href="@{/actor/administrator/unban(actorId=${actor.id})}"
						class="btn btn-secondary-outline display-4"> Desbanear actor </a>
				</div>

				<div class="mbr-section-btn pt-3 ">
					<a class="btn btn-secondary-outline display-4" th:href="@{/}">
						Volver atrás </a>
				</div>

				<div sec:authorize="hasAuthority('ADMIN')" class="mbr-section-btn pt-3">
					<a class="btn btn-secondary-outline display-4" th:href="@{/actor/administrator/deleteActor}">
						Eliminar un usuario
					</a>
				</div>

			</div>


		</div>

	</div>
</body>
</html>