<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">

<head>
<title>Registrar owner</title>

</head>

<body>


	<div class="content">
		<br> <br> <br> <br>
		<div class="container">
			<div class="row justify-content-center">
				<div class="title col-12 col-lg-8">
					<h2
						class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"
						style="color: #2a3d2e !important;">Registro como propietario</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="media-container-column col-lg-6"
					data-form-type="formoid">

					<form th:action="@{/actor/owner/register}" id="myForm"
						th:object="${owner}" method="post" enctype="multipart/form-data"
						class="mbr-form form-with-styler" data-form-title=" Form"
						onsubmit="return validateActor()">
						<div class="dragArea row">

							<div class="col-md-5  form-group" data-for="name">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Nombre</label>
								<input
									type="text" th:field="*{name}" th:errorclass="fieldError"
									data-form-field="Name" required="required"
									class="form-control display-7" />
								<p th:if="${#fields.hasErrors('name')}"
									style="color: red !important;">
									<span th:errors="*{name}"></span>
								</p>

							</div>

							<div class="col-md-7 form-group" data-for="surname">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Apellidos</label>
								<input
									type="text" th:field="*{surname}" th:errorclass="fieldError"
									data-form-field="Surname" required="required"
									class="form-control display-7" />
								<p th:if="${#fields.hasErrors('surname')}"
									style="color: red !important;">
									<span th:errors="*{surname}"></span>
								</p>
							</div>

							<div class="col-md-12  form-group" data-for="telephoneNumber">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Número de teléfono</label> <input
									type="text" th:field="*{telephoneNumber}"
									th:errorclass="fieldError" data-form-field="telephoneNumber"
									required="required" class="form-control display-7"
									onchange="checkTelephoneNumber()" />
								<p th:if="${#fields.hasErrors('telephoneNumber')}"
									style="color: red !important;">
									<span th:errors="*{telephoneNumber}"></span>
								</p>
								
								<p style="color: red !important;">
									<span id="telephoneNumberError"></span>
								</p>
							</div>

							<div class="col-md-12  form-group" data-for="email">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Correo electrónico</label> <input
									type="email" th:field="*{email}" th:errorclass="fieldError"
									data-form-field="Email" required="required"
									class="form-control display-7" />
								<p th:if="${#fields.hasErrors('email')}"
									style="color: red !important;">
									<span th:errors="*{email}"></span>
								</p>
							</div>

							<div class="col-md-12  form-group" data-for="username">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Nombre de usuario</label> <input
									type="text" th:field="*{username}" th:errorclass="fieldError"
									data-form-field="username" required="required"
									class="form-control display-7" />	
								<p th:if="${#fields.hasErrors('username')}"
									style="color: red !important;">
									<span th:errors="*{username}"></span>
								</p>
							</div>

							<div class="col-md-12 form-group" data-for="username"
								th:if="${noValidUser != ''}">
								<p th:text="${noValidUser}" style="color: red !important;"></p>
							</div>


							<div class="col-md-12  form-group" data-for="password">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Contraseña</label> <input
									type="password" th:field="*{password}"
									th:errorclass="fieldError" data-form-field="password"
									required="required" class="form-control display-7" />
								<p th:if="${#fields.hasErrors('password')}"
									style="color: red !important;">
									<span th:errors="*{password}"></span>
								</p>
							</div>

							<div class="col-md-12 form-group" data-for="password"
								th:if="${noMatchPass != ''}">
								<p th:text="${noMatchPass}" style="color: red !important;"></p>
							</div>


							<div class="col-md-12  form-group" data-for="passwordMatch">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Confirmar contraseña</label>
								<input type="password" th:field="*{passwordMatch}"
									th:errorclass="fieldError" data-form-field="passwordMatch"
									required="required" class="form-control display-7" />
								<p th:if="${#fields.hasErrors('passwordMatch')}"
									style="color: red !important;">
									<span th:errors="*{passwordMatch}"></span>
								</p>
							</div>




							<div class="col-md-12  form-group" data-for="iban">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Iban</label> <input
									type="text" placeholder="ES1234554678901234567890"
									pattern="[ES]{2}[0-9]{6}[0-9]{4}[0-9]{4}[0-9]{4}[0-9]{4}"
									th:field="*{iban}" th:errorclass="fieldError"
									data-form-field="iban" required="required"
									class="form-control display-7" />
								<p th:if="${#fields.hasErrors('iban')}"
									style="color: red !important;">
									<span th:errors="*{iban}"></span>
								</p>
							</div>

							<div class="col-md-12 form-group" data-for="iban"
								th:if="${noValidIban != ''}">
								<p th:text="${noValidIban}" style="color: red !important;"></p>
							</div>

							<div class="col-md-12  form-group" data-for="file">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;"
									th:text="'Seleccionar foto de
												perfil (Tamaño máximo de ' + ${maxSizePhoto} + 'MB)'"></label>
								<input type="file" th:field="*{file}"
									th:errorclass="fieldError" data-form-field="file"
									accept="image/*" class="form-control display-7"
									onchange="checkSizeFile()" />
								<p th:if="${#fields.hasErrors('file')}"
									style="color: red !important;">
									<span th:errors="*{file}"></span>
								</p>
								
								<p style="color: red !important;"> 
									<span id="fileError"></span>
								</p>
							</div>

							<div class="col-md-12 form-group" data-for="file"
								th:if="${selImage != ''}">
								<p th:text="${selImage}" style="color: red !important;"></p>
							</div>

							<div class="col-md-12 form-group"
								
								th:if="${errorMessage != ''}">
								<p th:text="${errorMessage}" style="color: red !important;"></p>
							</div>
							
							 <div data-for="message" class="col-md-12 form-group">
								<span class="gdpr-block"> <label> <span
										class="textGDPR" style="color: #a7a7a7"><input
											type="checkbox" name="gdpr" id="gdpr-form1-17" required="">
											Para registrarte acepta los  <a
											target="_blank"
											style="color: #149dcc; text-decoration: none;"
											href="/miscellaneous/terminos-y-condiciones">términos y condiciones</a>. </span>
								</label>
								</span>
							</div>
							
							<div class="col-md-6 input-group-btn align-center">
								<button name="save" type="submit"
									class="btn btn-form btn-secondary display-4">Guardar</button>
							</div>
							<div class="col-md-6 input-group-btn align-center">

								<a href="/" class="col-md-12 btn btn-warning-outline display-4">
									Volver </a>
							</div>
							
							
							
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>	
							<br>
							<br>
							<br>
							<br>
							<br>

						</div>
				</div>
				</form>

			</div>
		</div>
	</div>

	</div>
</body>
</html>