.content{
	
	padding-bottom:100px !important;
	
}
#piePagina{
	
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color:#54775e !important;
   padding-bottom: 8px;
   padding-top: 8px;
	
}
    input[type="text"]{
    background-color: #f5f5f5 !important;
    
    }
    input[type="text"]:active{
    background-color: white !important;
    
    }
    
    input[type="text"]:focus{
    background-color: white !important;
    
    } 
    
    i{
    color: #54775e !important;
    }
    
    #fotosListado{
    height: 9rem; 	
	border-style: solid;
	border-color: #54775E !important;
    }
    
    .card-body{
    border-bottom-color: #54775E;
	border-style: outset;
    }
    

    
    .card-header{
    background: #54775e38 !important

    }
    .card{
    margin-bottom: 10px;
    }
    
	.page-item.active .page-link{
    
    color: white !important;
	background-color: #54775E  !important;
	border-color: #54775E  !important;
	
    }
    
    .page-item .page-link{
    
    color:  #54775E  !important;
	border-color: #54775E  !important;
	
    }

    #fotosParcelaOro{
	padding: 15px 15px;
	border: #FFE400 4px double;
	border-radius: 20px;
    }

    #fotosParcelaPlata{
	padding: 15px 15px;
	border: #C4C4C4 4px double;
	border-radius: 20px;
    }

    #fotosParcelaBronce{
	padding: 15px 15px;
	border: #A89147 5px double;
	border-radius: 20px;
    }

	#fotosParcela{
	padding: 15px 15px;
	border: #FFFFFF 5px double;
	border-radius: 20px;
    } 