<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">

<head>
<title th:if="${creditCardForm.id != 0}">Editar tarjeta de crédito</title>
<title th:if="${creditCardForm.id == 0}">Registrar tarjeta de crédito</title>

</head>

<body>


	<div class="content">

<section class="mbr-section form1 cid-rSEqmmuXe6" id="form1-z">
		
		<br> <br> <br> <br>
		<div class="container">
			<div class="row justify-content-center">
				<div class="title col-12 col-lg-8">
					<h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"
						style="color: #2a3d2e !important;" th:if="${creditCardForm.id != 0}">
							Editar tarjeta de crédito
					</h2>
					<h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2"
						style="color: #2a3d2e !important;" th:if="${creditCardForm.id == 0}">
							Registrar tarjeta de crédito
					</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="media-container-column col-lg-8"
					data-form-type="formoid">

					<form th:action="@{/credit-card/renter/edit}" id="myForm"
						  th:object="${creditCardForm}" method="post"
						  class="mbr-form form-with-styler"
						  data-form-title=" Form"
						  onsubmit="return validateCreditCard()">

						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:field="*{version}" />
						<input type="hidden" th:field="*{renter}" />
							
						<div class="dragArea row">
							
							<div class="col-md-6  form-group" data-for="name">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Propietario</label>
								<input
									type="text" th:field="*{holderName}" th:errorclass="fieldError"
									data-form-field="holderName" required="required"
									class="form-control display-7"
									onchange="checkHolderName()" />
								<p th:if="${#fields.hasErrors('holderName')}"
									style="color: red !important;">
									<span th:errors="*{holderName}"></span>
								</p>
								
								<p style="color: red !important;">
									<span id="holderNameError"></span>
								</p>
							</div>
						
							<div class="col-md-6  form-group" data-for="name">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Número</label>
								<input
									type="text" th:field="*{number}" th:errorclass="fieldError"
									data-form-field="number" required="required"
									placeholder="5124083976670154"
									class="form-control display-7"
									onchange="checkNumber()" />
								<p th:if="${#fields.hasErrors('number')}"
									style="color: red !important;">
									<span th:errors="*{number}"></span>
								</p>
								
								<p style="color: red !important;">
									<span id="numberError"></span>
								</p>
							</div>
							
							<div class="col-md-6  form-group" data-for="name">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Mes de expiración</label>
								<input
									type="text" th:field="*{expirationMonth}" th:errorclass="fieldError"
									data-form-field="expirationMonth" required="required"
									placeholder="10"
									class="form-control display-7"
									onchange="checkExpirationMonth()" />
								<p th:if="${#fields.hasErrors('expirationMonth')}"
									style="color: red !important;">
									<span th:errors="*{expirationMonth}"></span>
								</p>
								
								<p style="color: red !important;">
									<span id="expirationMonthError"></span>
								</p>
							</div>
							
							<div class="col-md-6  form-group" data-for="name">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Año de expiración</label>
								<input
									type="text" th:field="*{expirationYear}" th:errorclass="fieldError"
									data-form-field="expirationYear" required="required"
									placeholder="23"
									class="form-control display-7"
									onchange="checkExpirationYear()" />
								<p th:if="${#fields.hasErrors('expirationYear')}"
									style="color: red !important;">
									<span th:errors="*{expirationYear}"></span>
								</p>
								
								<p style="color: red !important;">
									<span id="expirationYearError"></span>
								</p>
							</div>
							
							<div class="col-md-6  form-group" data-for="name">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Marca</label>
								
								<select th:field="*{brandName}" th:errorclass="fieldError"
										required="required" class="form-control display-7"
										onchange="checkBrandName()">
									<option value="Mastercard">MASTERCARD</option>
									<option value="Visa">VISA</option>
									<option value="Discover">DISCOVER</option>
									<option value="American Express">AMERICAN EXPRESS</option>
									<option value="JCB">JCB</option>
								</select>
								
								<p th:if="${#fields.hasErrors('brandName')}"
									style="color: red !important;">
									<span th:errors="*{brandName}"></span>
								</p>
								
								<p style="color: red !important;">
									<span id="brandNameError"></span>
								</p>
							</div>
							
							<div class="col-md-6  form-group" data-for="name">
								<label for="name-form1-17"
									class="form-control-label mbr-fonts-style display-7"
									style="color: #2a3d2e !important;">Código de seguridad</label>
								<input
									type="text" th:field="*{cvvCode}" th:errorclass="fieldError"
									data-form-field="cvvCode" required="required"
									class="form-control display-7"
									onchange="checkCVVCode()" />
								<p th:if="${#fields.hasErrors('cvvCode')}"
									style="color: red !important;">
									<span th:errors="*{cvvCode}"></span>
								</p>
								
								<p style="color: red !important;">
									<span id="cvvCodeError"></span>
								</p>
							</div>
								
							<div class="col-md-12 form-group" data-for="name"
								th:if="${messageCode != null || messageCode != ''}">
								<p th:text="${messageCode}" style="color: red !important;"></p>
							</div>
							
							<!-- Botones -->
							
							
							<div class="col-md-4 input-group-btn align-center">
								<button name="save" id="Guarda" type="submit" 
									class="btn btn-form btn-secondary display-4">Guardar</button>
							</div>
							
							<div class="col-md-4 input-group-btn align-center">
								<button th:if="${creditCardForm.id > 0 && count == 0}" name="delete" type="submit"  
									class="btn btn-form btn-secondary display-4" onclick="return confirm('¿Estás seguro de querer borrarla?');">Borrar</button>
							</div>

							<div class="col-md-4 pb-5 input-group-btn align-center">
								<a th:href="@{/credit-card/renter/list}"
									class="col-md-12 btn btn-warning-outline display-4"> Volver
								</a>
							</div>
							
						</div>
					</form>
					</div>
			</div>
		</div>
</section>
	</div>
</body>
</html>