<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Tajetas de crédito registradas</title>
	</head>
	
	<body>
		<div class="content">
			
			<section class="services1 cid-rRNjW9YKmG" id="services1-6">
				<div class="container">
        			<div class="row justify-content-center">
            
			            <!--Title-->
			            <div class="title pb-5 col-12">
			                <h2 class="align-left pb-3 mbr-fonts-style display-2">
								Tarjetas de crédito registradas
							</h2>
			            </div>

			            <!-- Table -->
			            <div>
			            	<table th:if="${creditCards.size() > 0}" class="table table-striped">
								<thead class="thead-dark">
									<tr>
										<th>
										</th>
										<th>Propietario</th>
										<th>Marca</th>
										<th>Número</th>
										<th>Mes de expiración</th>
										<th>Año de expiración</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="creditCard : ${creditCards}">
										<td>
											<a th:href="@{/credit-card/renter/edit(creditCardId=${creditCard.id})}">Editar</a>
										</td>
										<td th:text="${creditCard.holderName}"></td>
										<td th:text="${creditCard.brandName}"></td>
										<td th:text="${mapa.get(creditCard.id)}"></td>
										<td th:text="${creditCard.expirationMonth}"></td>
										<td th:text="${'20' + creditCard.expirationYear}"></td>
									</tr>
								</tbody>
							</table>
			            </div>
             
						<div th:if="${creditCards.size() == 0}">
							<span>No existen resultados</span>
						</div>
						
						<p>
							<a th:href="@{/credit-card/renter/create}"
						   	   class="btn btn-warning-outline">
								Registrar nueva tarjeta de crédito
							</a>
						</p>
						<p>
							<a th:href="@{/actor/authenticated/display}"
						   	   class="btn btn-warning-outline">
								Volver al perfil
							</a>
						</p>   
					</div>	
    			</div>
			</section>
		</div>
	</body>
</html>