<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Tajetas de crédito registradas</title>
	</head>
	
	<body>
		<div class="content">
			<section class="section-table cid-rV29YLS4n5" id="table1-3o">

            <div class="container container-table">
                <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
          Tarjetas de crédito registradas</h2>

                <div class="table-wrapper">

                    <div class="row justify-content-center">
                        <div class="media-container-column col-lg-8" data-form-type="formoid">
                            <div class="container scroll">
                                <table id="example" class="table isSearch" cellspacing="0">
                                    <thead>
                                        <tr class="table-heads ">

                                            <th class="head-item mbr-fonts-style display-7">
                                                Propietario</th>
                                            <th class="head-item mbr-fonts-style display-7">
                                                Marca</th>
											<th class="head-item mbr-fonts-style display-7">
                                                Número</th>
                                            <th class="head-item mbr-fonts-style display-7">
                                                Mes de expiración</th>
											<th class="head-item mbr-fonts-style display-7">
                                                Año de expiración</th>
											<th class="head-item mbr-fonts-style display-7"></th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr th:each="creditCard : ${creditCards}">

                                            <td class="body-item mbr-fonts-style display-7" th:text="${creditCard.holderName}"></td>
											<td class="body-item mbr-fonts-style display-7" th:text="${creditCard.brandName}"></td>
											<td class="body-item mbr-fonts-style display-7" th:text="${mapa.get(creditCard.id)}"></td>
											<td class="body-item mbr-fonts-style display-7" th:text="${creditCard.expirationMonth}"></td>
											<td class="body-item mbr-fonts-style display-7" th:text="${'20' + creditCard.expirationYear}"></td>
                                            <td class="body-item mbr-fonts-style display-7"><a th:href="@{/credit-card/renter/edit(creditCardId=${creditCard.id})}" class="btn-outline display-7">Editar</a></td>
                                        </tr>
                                    </tbody>
                                </table>
<br/>
<br/>
<div class="container">
			<div class="row justify-content-center">
				<div class="media-container-column col-lg-12"
					data-form-type="formoid">

						<form  class="mbr-form form-with-styler">
							<div class="dragArea row">					
							<div class="col-md-4 input-group-btn">
								<a th:href="@{/credit-card/renter/create}"
									class="btn btn-form btn-secondary display-4"> Nueva tarjeta
								</a>
							</div>
							
							<div class="col-md-4 input-group-btn">
								<a th:href="@{/actor/authenticated/display}"
									class="col-md-12 btn btn-warning-outline display-4"> Volver
								</a>
							</div>
							</div>
						</form>
						</div>
						</div>
						</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		</div>
	</body>
</html>