<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	
		<head>
			<title>Detalles de eco truki</title>
		</head>

		<body>
			<div class="container content">
				<br> <br> <br> <br>
				
				<div class="row ">
					<div>
						<h1> Eco truki </h1>
		
						<div class="mbr-section-text">
							<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
								<span th:text="${ecoTruki.title}"></span>
							</p>
							<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
								<span th:text="${ecoTruki.description}"></span>
							</p>
						</div>
		
					</div>
				</div>
				
				
				<div class="row">	
					<div>
						<div class="mbr-section-btn pt-3 ">
							<a class="btn btn-secondary-outline display-4"
							   th:href="@{/eco-truki/authenticated/list}">
								Volver atrás </a>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>