<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Códigos de descuentos</title>
	</head>
	
	<body>
		<div class="content ">
			
		<section class="services1 cid-rRNjW9YKmG" id="services1-6">
		<div class="container">
        <div class="row justify-content-center">
            <!--Titles-->
            <div class="title pb-5 col-12" >
                <h2 class="align-left pb-3 mbr-fonts-style display-2 text-center">
					Códigos de descuento</h2>

            </div>



            <!--Card-1-->
            <div th:if="${isAvailable}" class="card col-12 col-md-6 p-3 col-lg-3" th:each="dc : ${dcPage}" >
                <div class="card-wrapper">
					<div class="card-box ">
                        <p class="mbr-text mbr-fonts-style display-7 text-center"> <span th:text="${dc.name}"></span></p>
                        <p class="mbr-text mbr-fonts-style display-7 text-center"> <span th:text="${dc.discountCodes}" style="font-size: 14px;background-color: #54775e !important;" class="badge badge-secondary"></span></p>
						<p class="mbr-text mbr-fonts-style display-7 text-center"> <a th:href="${dc.linkPage}" target="_blank" th:text="${dc.linkPage}"></a></p>
                    </div>
                </div>
				<div class="mbr-section-btn align-center" style="text-align: center !important;">
				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{~/administrator/providerDiscountCode/edit?providerDiscountCodeId=} + ${dc.id}" class="btn btn-warning-outline display-4">Editar código descuento</a></div>
			</div>				
			 
			<div th:if="${isAvailable}" class="container">
				<div class="row justify-content-center">
					<div  th:if="${dcPage.totalPages > 0}" 
						th:each="pageNumber : ${pageNumbers}">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">
									<a th:href="@{/providerDiscountCode/list(size=${dcPage.size}, page=${pageNumber})}" th:text=${pageNumber}	class="page-link"></a>
								</li>
							</ul>
						</nav>
					</div>

				</div>
			</div>
			
			<div th:if="${dcPage.getTotalElements() == 0 && isAvailable}">
				<span>No existen resultados</span>
			</div>   

			<div th:if="${!isAvailable}">
				<h2>Para poder disfrutar de los códigos descuentos debes tener como mínimo una parcela alquilada</h2>
			</div>

			<div sec:authorize="hasAuthority('ADMIN')" class="col-md-12 input-group-btn align-center">
				<a th:href="@{~/administrator/providerDiscountCode/create}"
					class="btn btn-secondary-outline display-4">Crear
					descuento</a>
			</div> 
			
			
    </div>
</section>

		</div>
	</body>
</html>